.home {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(5, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  height: 100vh;
  width: 100vw;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  height: 90%;
  margin-top: 60px;
}

.testImage {
  width: 10%;
}

.left {
  background-color: rgb(12, 56, 56);
  grid-area: 1 / 1 / 6 / 3;
  text-align: center;
}

.right {
  grid-area: 1 / 3 / 6 / 6;
  background-size: cover;
  background-position: center;
}
