:root {
  --background1: #292929;
  --background2: #0E1927;
  --surface: #616E7E;
  --primary: #BB607B;
  --secondary: #1F4D6E;
  --onBackground: #AF9DAE;
  --onSurface: #CFC2D0;
  --onPrimary: #CFC2D0;
  --onSecondary: #CFC2D0;
}