:root {
  --background1: #edf0f2;
  
  --background2: #edf0f2;
  --surface: #fffffe;
  --primary: #b8c1ec;
  --secondary: #a8cccb;
  --onBackground: #b8c1ec;
  --onSurface: #232946;
  --onPrimary: #232946;
  --onSecondary: #fdfbfc;
}

@import url('https://fonts.googleapis.com/css?family=Josefin+Sans');

body {
  font-family: 'Josefin Sans', cursive;
}